      <h1 class="container"><strong>Videos</strong></h1>

      <% @videeoos.each do |videeoo| %>
        <div class="container">
          <div class="row featurette">
            <div class="col-md-7">
                <iframe width="645px" height="345px"
                        src="http://www.youtube.com/embed/<%=videeoo.Url%>"
                        frameborder="1">
                </iframe>
            </div>
            <div class="col-md-5 ">
                <p class="vid-titulo"><%=videeoo.Titulo%></p>
                <h3><strong>Descripcion <i class="fa fa-comment-o"></i></strong></h3>
                <p class="video-cont" style="text-align:center; height:200px;"><%=videeoo.Descripcion%></p>
                <h3><strong>Subido por:</strong></h3>
                <p style="text-align:right;"><%=videeoo.Subido_por%></p>
            </div>
          </div>
          <div>
                <td><%= link_to 'Show', videeoo %></td>
                <% if can? :create, Videeoo %>
                  <td><%= link_to 'Edit', edit_videeoo_path(videeoo) %></td>
                <%end%>
                <% if can? :delete, Videeoo %>
                  <td><%= link_to 'Destroy', videeoo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <%end%>
          </div>
          <hr class="featurette-divider">
        </div>
    <% end %>

</br>

<% if can? :create, Videeoo %>
  <%= link_to 'New Video', new_videeoo_path %>
<%end%>
