
    <div class="container">  
       <h1>Videos desarrollo del proyecto</h1>   
    </div>

      <% @videos.each do |video| %>
        <div class="container">  
          <div class="row featurette">
            <div class="col-md-7">             
                <iframe width="645px" height="345px" 
                        src="http://www.youtube.com/embed/<%=video.description%>" 
                        frameborder="1">
                </iframe>
                <p>
                  <%= video.titulo %>
                </p>

            </div>
          </div>
          <div>
                <td><%= link_to 'Show', video %></td>
                <% if can? :create, Video %>
                  <td><%= link_to 'Edit', edit_video_path(video) %></td>
                <%end%>
                <% if can? :delete, Video %>
                  <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <%end%>
          </div>
          <hr class="featurette-divider">
        </div>
    <% end %>

</br>

<% if can? :create, Video %>
  <%= link_to 'New Video', new_video_path %>
<%end%>