<%# add navigation links to this file %>
<% if user_signed_in? && (can? :manage, User )%>
  <li><%= link_to 'Gestor de usuarios', users_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Editar cuenta', edit_user_registration_path %></li>
  <li class="divider"></li>
  <li><%= link_to 'Salir', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Iniciar sesión', new_user_session_path %></li>
  <li><%= link_to 'Registrarse', new_user_registration_path %></li>
<% end %>

