<nav class="navbar navbar-inverse navbar-fixed-top">
  <!--Desplegable inicio scaffold-->
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Inicio', root_path, class: 'navbar-brand' %>
      <%= link_to 'Imagenes', imagenes_path, class: 'navbar-brand' %>
      <%= link_to 'Videos', videeoos_path, class: 'navbar-brand' %>
      
      <button type="button" class="btn btn-default btn-md dropdown-toggle boton-sesion" data-toggle="dropdown">
          <% if user_signed_in? %>
            <div class="usuario"><%=gravatar_image_tag( current_user.email)%></div> 
            <%= current_user.name %>
          <%end%>
          <i class="fa fa-bars"></i> 
      </button>
        <ul class="dropdown-menu desplegable" role="menu">
          <%= render 'layouts/navigation_links' %>
        </ul>
    </div>



</nav>

