    <div class="container">
        <%= render 'layouts/messages_navegador'%>
      <div id="tab" class="tabs">
        <nav style="border-bottom:3px solid #BECBD2;">
          <ul>
            <li><a><%= link_to 'Inicio', root_path, class: 'fa fa-archive'%></a></li>
            <li><a><%= link_to 'Memoria', imagenes_path, class: 'fa fa-book' %></a></li>
            <li><a><%= link_to 'Imagenes', memoria_index_path, class: 'fa fa-picture-o'%></a></li>
            <li><a id="video"><%= link_to 'Videos', videeoos_path, class: 'fa fa-video-camera tab-current' %></a></li>
            <li><%= link_to 'Contacto', new_contacto_path, class: 'fa fa-phone' %></li>
            <li><%= link_to 'Area personal',personal_new_path, class: 'fa fa-align-justify' %></li>

          </ul>
        </nav>
      </div>
    </div>




