<div class="container">
		<div class="contenedor-menu-area">
			<% if user_signed_in? %>
				<p>Hola <strong> <%= current_user.name %> </strong>.</p> 
					<% if can? :manage, User %>
				 		<%= link_to 'Gestor de usuarios', users_path %>
					<% end %>
				<%= link_to 'Editar cuenta', edit_user_registration_path %>
		     	<%= link_to 'Cerrar sesión', destroy_user_session_path, :method=>'delete' %> 
			<% else %>
				<%= render 'layouts/messages_registro_inicio'%>
			<% end %>
		</div>
	</div>
</div>



