<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="refresh" content="30">

    <meta name="description" content="EL cubo de Leds es un proyecto realizado como final de Modulo superior, documentado y explicado paso a paso, su funcionamiento, aprendizaje junto con programas y efectos totalmente a vuestra disposicion.">

    <meta name="keywords" content="Cubo Leds Proyect Proyecto 8x8x8 led luz ejemplo proyect cubo salesianos proyectos 3x3x3 10x10x10 paso a como hacer un instructables">

    <meta name="author" content="David Moreno Moreno">

   


    <title><%= content_for?(:title) ? yield(:title) : "Cubo Leds" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cubo Leds" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

     <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
     
  </head>
  <body>

    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
